body,html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
div{
    border-radius: 5px;
    border: 1px grey solid;
    margin: .5em auto;
    padding: 10px;
    width: 90%;
}
.message-info{
    background-color: steelblue;
    color: blue;
}
.message-success{
    background-color: darkseagreen;
    color:green;
}
.message-warning{
    background-color: yellow;
    color: yellowgreen;
}
.message-error{
    background-color: palevioletred;
    color:darkred;
}